


<ion-content color="primary" [fullscreen]="true">
    <img src="assets/Logo_FLY.png" alt="FLY">

    <ion-card>
        
        <ion-item class="ion-text-center text-bold line-bottom" lines="none">
           <ion-label>Acessar</ion-label>
        </ion-item>

        <ion-item lines="none">
            <ion-label position="floating">E-mail</ion-label>    
            <ion-input type="email" placeholder="Digite seu e-mail"></ion-input>
        </ion-item>
 
        <ion-item class="line-bottom" lines="none">
            <ion-label position="floating">Senha</ion-label>    
            <ion-input type="password" placeholder="Digite sua senha"></ion-input>
        </ion-item>
 
        <ion-item lines="none">
            <ion-label>Manter Logado!</ion-label>            
            <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>

    </ion-card>


    <ion-card>
        
        <ion-button expand="full" shape="round">Entrar
            <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-button>

        <ion-button routerLink="/registro" expand="full" shape="round">Registrar</ion-button>  

    </ion-card>




</ion-content>
